:root {
  --white: #fff;
  --green: rgb(0, 128, 0);
  --light-pink: rgb(234, 221, 221);
  --light-red: rgb(254, 110, 110);
  --light-gray_05: rgb(255 255 255 / 50%);
  --gray_07: rgba(49, 47, 47, 0.7);
  --gray: rgb(49, 47, 47);
  --gray_72: rgb(72 69 69);
  --gray_pink: rgb(103 86 93);
  --beige: rgb(227, 206, 206);
  --light-beige: rgb(234, 221, 221);
  --beige_05: rgba(227, 206, 206, 0.5);
  
  --border_radius_standard: 12px;
  --border_radius_small: 5px;
}
